<template>
  <div class="home">
    <h1>{{ form.heading.title }}</h1>
    <p v-html="form.heading.description"></p>
    <!-- <HelloWorld msg="Hello World Component"></HelloWorld> -->
    <div id="section" class v-for="section in form.sections" :key="section.id">
      <h2>{{ section.title}}</h2>
      <p v-html="section.description"></p>
      <component id="question" v-for="component in section.questions" :is="component.type" :key="component.id" v-bind="component"></component>
    </div>
  </div>
</template>

<script>
import { FormLoaderService } from '@/services/form-loader-service.js';

export default {
  name: 'home',
  created() {
    this.formLoaderService = FormLoaderService.getInstance();
    //    this.form = this.formLoaderService.getQuestions();
    this.formLoaderService.getQuestions()
      .then(result => this.form = result);
  },
  data() {
    return {
      showText: true,
      componentsToDisplay: [],
      form: { heading: '' },
    };
  },
};
</script>
<style lang="scss">
#section {
  margin-bottom: 30px;
}

#question {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 20px;
}
</style>
