<template>
    <div>
        <label>{{name}} {{ question }}</label>
        <select v-model="selected">
        <option v-for="option in options" :key="option.text">
            {{ option.value }}
        </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
</template>

<script>
export default {
  props: {
    question: String,
    name: String,
  },
  data() {
    return {
      selected: 'A',
      options: [
        { text: 'One', value: 'A' },
        { text: 'Two', value: 'B' },
        { text: 'Three', value: 'C' },
      ],
    };
  },
};
</script>

<style>

</style>
